<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css"/>
  <script src="https://use.fontawesome.com/9d1ac71c1d.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/swiper.min.css">
  <script src="{{ site.baseurl }}/js/utils.js"></script>
  <script src="{{ site.baseurl }}/js/swiper.min.js"></script>
  <script src="{{ site.baseurl }}/js/swiper.min.js.map"></script>
  <title>Looping's Pictures | Photography</title>
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/logo-ico.ico" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
</head>
