* {
  user-select: none;
}

html {
  height: 100%;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  overflow-y: auto;
}

body#body-homepage {
  background-color: transparent;
  height: 100%;
  overflow-y: hidden;

  nav {
    background-color: transparent;
  }
}

#right-click-copyright {
  color: white;
  display: none;
  height: 15px;
  position: fixed;
  width: 15px;
  z-index: 10;
}

#home {
  background: black;
}

nav {
  align-items: center;
  background: rgba(167, 217, 223, 0.9);
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color .5s;
  width: 100%;
  z-index: 10;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    justify-content: center;
    line-height: 45px;
    padding: 0 25px;

    @media screen and (max-width: 768px) {
      height: 50px;
      padding: 0 10px;
    }

    @media screen and (max-width: 374px) {
      height: 50px;
      padding: 0 5px;
    }
  }

  a {
    color: #fff;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 374px) {
      font-size: 10px;
    }
  }
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

@-webkit-keyframes blink {
  0% {
      opacity: .8;
  }
  50% {
      opacity: .1;
  }
  100% {
      opacity: .8;
  }
}

.loader {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  img {
    -webkit-animation: blink 2s;
    -webkit-animation-iteration-count: infinite;
  }
}

.logo {
  position: absolute;
  z-index: 2;
  filter: drop-shadow(3px 3px 3px black);
  width: 200px;
}
.swiper-container {
 width: 100%;
 height: 300px;
 margin-left: auto;
 margin-right: auto;
}
.swiper-slide {
 background-size: cover;
 background-position: center;
 background-color: black;
  opacity: 0.7;
}
.gallery-top {
 height: 90%;
 width: 100%;
}
.gallery-thumbs {
 height: 10%;
 box-sizing: border-box;
 padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
 width: 8%;
 height: 100%;
 opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
 opacity: 1;
}

@import "_biography";
@import "_contact";
@import "_gallery";
@import "_prices";
