<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body-biography">

    <div class="loader">
      <img class="logo" src="{{ site.baseurl }}/img/logo-transparent-white.png" alt="logo-loopings-pictures">
    </div>

    {% include header.html %}

    <div class="biography__background">
      <p class="biography__presentation">
        Passionnée de cinéma et de voyages, j'ai d'abord débuté par une école de cinéma à Paris qui m'a permise d'acquérir de larges connaissances au seins du 7eme art. De cette passion va peut à peut naître un intérêt certain un art à la fois diffèrent et très proche : la photographie.
      </p>
      <p class="biography__presentation">Par la suite j'ai mis à l'épreuve ces passions au cœurs de diverses voyages à travers la France et le monde. Aujourd'hui, 3 ans plus tard, les arts de l'image fixe comme de l'image en mouvement rythme ma vie et l'orne de ces plus beaux tableaux.</p>
      <p class="biography__presentation">C'est donc dans cette continuité que j'espère à présent pouvoir mettre au service de vos souvenirs mes connaissances, et faire que les plus beaux moments de votre vie soit à jamais immortels !</p>
      <p class="biography__presentation"></p>
    </div>

    {% include signature.html %}

    <script src="{{ site.baseurl }}/js/utils.js"></script>

  </body>

</html>
