<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body-gallery">

    <div class="loader">
      <img class="logo" src="{{ site.baseurl }}/img/logo-transparent-white.png" alt="logo-loopings-pictures">
    </div>

    <div id="right-click-copyright">©</div>

    {% include header.html %}

    <div id="gallery">

      <div class="gallery__buttons">
        <button class="gallery__button" href="" data-rel="all">All</button>
        <button class="gallery__button" data-rel="portraits">Portraits</button>
        <button class="gallery__button" data-rel="weeding">Weeding</button>
        <button class="gallery__button" data-rel="animals">Animals</button>
        <button class="gallery__button" data-rel="urban">Urban</button>
        <button class="gallery__button" data-rel="couples">Couples</button>
        <button class="gallery__button" data-rel="nature">Nature</button>
      </div>

      <div class="gallery__wrapper">
      </div>

    </div>

    <script src="{{ site.baseurl }}/js/gallery.js"></script>

  </body>

</html>
