<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="loader">
      <img class="logo" src="{{ site.baseurl }}/img/logo-transparent-white.png" alt="logo-loopings-pictures">
    </div>

    <section>
      <nav>
        <!-- <a class="js-scrollTo" id="return-home" href="#home">
          <img class="logo-nav" src="{{ site.baseurl }}/img/logo.png" alt="logo-tiffany">
        </a> -->
        <ul>
          <li class="nav__home"><a class="js-scrollTo" href="#home">Accueil</a></li>
          <li class="nav__about"><a class="js-scrollTo" href="#about">Bio</a></li>
          <li class="nav__portfolio"><a class="js-scrollTo" href="#portfolio">Portfolio</a></li>
          <li class="nav__tarifs"><a class="js-scrollTo" href="#tarifs">Tarifs</a></li>
          <li class="nav__contact"><a class="js-scrollTo" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </section>

    <div id="home">
      <img class="logo" src="img/logo-transparent-white.png"/>
      <!-- Swiper -->
      <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(img/img_8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_7.jpg)"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
      </div>
      <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url(img/img_8.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_1.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_3.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_4.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_5.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_6.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/img_7.jpg)"></div>
        </div>
      </div>
    </div>

    <script src="{{ site.baseurl }}/js/script.js"></script>

  </body>

</html>
