<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body-prices">

    <div class="loader">
      <img class="logo" src="{{ site.baseurl }}/img/logo-transparent-white.png" alt="logo-loopings-pictures">
    </div>

    {% include header.html %}

    <h1 class="prices__title">Tarifs</h1>

    <div class="prices__block-container">

      <div class="prices__block prices__block--1">
        <div class="prices__block-header">
          <h2 class="prices__block-title">Formule<br>Solo</h2>
        </div>
        <ul class="prices__block-list">
          <li class="prices__block-text">Shooting photo de 2h</li>
          <li class="prices__block-text">Retouches photos comprises</li>
        </ul>
        <div class="prices__block-bubble">
          <p class="prices__block-price"><span>Dès&nbsp;</span>65€</p>
        </div>
      </div>

      <div class="prices__block prices__block--2">
        <div class="prices__block-header">
          <h2 class="prices__block-title">Formule<br>Duo</h2>
        </div>
        <ul class="prices__block-list">
          <li class="prices__block-text">Shooting photo en duo de 2h</li>
          <li class="prices__block-text">Retouches photos comprises</li>
        </ul>
        <div class="prices__block-bubble">
          <p class="prices__block-price"><span>Dès&nbsp;</span>110€</p>
        </div>
      </div>

      <div class="prices__block prices__block--3">
        <div class="prices__block-header">
          <h2 class="prices__block-title">Formule<br>Mariage</h2>
        </div>
        <ul class="prices__block-list">
          <li class="prices__block-text">Shooting photo (durée à définir)</li>
          <li class="prices__block-text">Retouches photos comprises</li>
        </ul>
        <div class="prices__block-bubble">
          <p class="prices__block-price"><span>Dès&nbsp;</span>500€</p>
        </div>
      </div>

      <div class="prices__block prices__block--4">
        <div class="prices__block-header">
          <h2 class="prices__block-title">Formule<br>Sport</h2>
        </div>
        <ul class="prices__block-list">
          <li class="prices__block-text">Shooting photo en match, coucours, ect</li>
          <li class="prices__block-text">Retouches photos comprises</li>
        </ul>
        <div class="prices__block-bubble">
          <p class="prices__block-price"><span>Dès&nbsp;</span>30€</p>
        </div>
      </div>

      <div class="prices__block prices__block--5">
        <div class="prices__block-header">
          <h2 class="prices__block-title">Pack<br>Grossesse + Naissance</h2>
        </div>
        <ul class="prices__block-list">
          <li class="prices__block-text">Shooting photo grossesse</li>
          <li class="prices__block-text">Shooting photo bébé</li>
          <li class="prices__block-text">Retouches photos comprises</li>
          <li class="prices__block-text">Possibilité de shooting uniquement grossesse ou uniquement naissance à partir de 65€</li>
        </ul>
        <div class="prices__block-bubble">
          <p class="prices__block-price"><span>Dès&nbsp;</span>100€</p>
        </div>
      </div>
    </div>

    <div class="prices__block prices__block--long">
      <div class="prices__block-header">
        <h2 class="prices__block-title">- Toutes autres prestations sur devis -</h2>
      </div>
    </div>

    <script src="{{ site.baseurl }}/js/utils.js"></script>

  </body>

</html>
